.container{
  position: relative;
  height: auto;
  width: auto;
}
.background{
  max-width: 100%;
  height: 200px;
  opacity: 0.8;
 }
.text-wrapper{
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 40px;

}
.btn-group{
  display: inline;
  border-radius: 8px;
}

.btn-group .button{
  position: relative;
  top: 200px;
  left: 35% ;
  font-size: 18px;
  background-color: #787a78; /* Green */
  border: 1px solid rgb(13, 14, 13);
  color: white;
  padding: 8px 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  float: left;
  
}
.btn-group .button:last-child {
  border-right: none; 
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
}
.btn-group .button:first-child {
  border-right: none; 
  border-top-left-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
}

.btn-group .button:hover {
  background-color: #27f703;
}

.search-box{
  position: absolute;
  top: 240px;
  outline: none;
  background-color:aliceblue;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  height: 56px;
  width: 700px;
  box-sizing: border-box;
  transition: all 0.7s ease-in-out;
}
search-box.focused {
  width: 100%;
}


@media screen and (max-width:1000px){
  .text-wrapper{
  font-size: 30px;
  }
  .btn-group .button{
  top: 150px;
  left: 40% ;
  font-size: 10px;
  
  }
  .search-box{
    top: 190px;
    font-size: 10px;
    height: 40px;
    width: 550px;
  
  }
}
